NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_NAVER_MAP_NCP_KEY_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
GOOGLE_MAPS_API_KEY=
NAVER_API_HUB_CLIENT_ID=
NAVER_API_HUB_CLIENT_SECRET=
NAVER_SEARCH_CLIENT_ID=
NAVER_SEARCH_CLIENT_SECRET=
KAKAO_REST_API_KEY=
OPENAI_API_KEY=
OPENAI_PLACE_MODEL=
